/* style */
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap");
/* import */
/* eric */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* variables */
/* mixins */
/* fonts */
/* typography */
body, h1, h2, h3, p {
  font-family: "monaco", monospace;
  font-size: 1rem;
  line-height: 1.25rem;
  color: #fff;
  text-align: right;
  word-break: break-word;
}

body {
  background-color: #000000;
}

a {
  color: #fff;
  background-color: #000;
  text-decoration: none;
}
a:active, a:visited, a:focus {
  color: #fff;
  background-color: #000;
  text-decoration: none;
}
a:hover {
  color: #000;
  background-color: #fff;
  text-decoration: none;
}

p {
  margin-bottom: 1.2rem;
}

h1 {
  line-height: 1.44rem;
  margin-bottom: 1.2rem;
}

/* main */
/* layout */
.main, .collection, .footer {
  float: right;
  padding: 4%;
  width: 58%;
}

.main {
  padding-bottom: 8%;
}

.collection {
  float: left;
}
.collection .single {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  border-right: 2px solid #000;
  width: 25%;
  -webkit-transition: all 0.25s ease;
  float: left;
  height: 16.25rem;
  margin-bottom: 1.625rem;
  padding: 0;
}
.collection .single:nth-child(4n+1) {
  border-right: none;
}
.collection a.single {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  border-right: 2px solid #000;
  width: 25%;
  -webkit-transition: all 0.25s ease;
  float: left;
  height: 16.25rem;
  margin-bottom: 1.625rem;
  padding: 0;
  border-bottom: 0;
}
.collection a.single:nth-child(4n+1) {
  border-right: none;
}
.collection a.single:hover {
  -webkit-transition: all 0.25s ease;
  background-color: #000;
  color: #fff;
}

.connect {
  float: left;
}

.label {
  height: auto;
  width: 50%;
  margin: 0 25%;
  position: absolute;
  left: 0;
}

/* responsive */
